run = "node start.js"
modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["node", "start.js"]
deploymentTarget = "cloudrun"

[workflows]
  [workflows.app-server]
  name = "app-server"
  command = "node start.js"
  wait_for_port = 3000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 80
